/* Shibo Ding */

*
{
  box-sizing: border-box;
  text-align: center;
}

body
{
  background-color: #f6f5f7;
}

.sign_in_div, .sign_up_div
{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  position: absolute;
  overflow: hidden;
  width: 768px;
  height: 480px;
  margin: 10% auto;
  left: 30%;
  top: 5%;
}

.form_div
{
  margin: 10% auto;
  width: 50%;
}

.slider_div
{
  background-color: #FF5733;
  font-size: 20;
  top: 100%;
  bottom: 100%;
  width: 50%;
  margin: 0% auto;
}

button
{
	border-radius: 20px;
	border: 1px solid white;
	background-color: #FF5733;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

input
{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 80%;
}

h2
{
  margin: 20% auto;
}

p
{
  font-size: 20;
  color: #BFC9CA ;
}

.bnt
{
  margin: 35% auto;
}
